<div class="card" fxLayout="column" fxLayout.gt-sm="row">
    <div class="p-6" fxFlex="none">
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
            <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">

                <mat-form-field fxFlex="auto" appearance="outline">
                    <mat-label>Customer Name</mat-label>
                    <input matInput type="text" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }" required>

                </mat-form-field>
                <div *ngIf="f.submitted && firstName.invalid" class="invalid-feedback">
                    <div *ngIf="firstName.errors.required">First Name is required</div>
                </div>
            </div>
            <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">

                <div class="text-center">
                    <button class="btn btn-primary mr-1">Register</button>
                    <button class="btn btn-secondary" type="reset">Cancel</button>
                </div>
            </div>
        </form>
    </div>

    <div class="border-l" fxFlex="auto">
        <div class="p-6">
            Templete Driven Validation
        </div>
        <mat-tab-group class="vex-tabs">
            <mat-tab label="HTML" class="w-10">
                <pre><code [vexHighlight]="autocompleteHTML"></code></pre>
            </mat-tab>
            <mat-tab label="TYPE SCRIPT">
                <pre><code [vexHighlight]="autocompleteJS"></code></pre>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>