<div class="card" fxLayout="column" fxLayout.gt-sm="row">
    <div class="p-6" fxFlex="none">
        <h2 class="title mt-0 mb-4">Deep copy</h2>
    </div>

    <div class="border-l" fxFlex="auto">
        <div class="p-6">
            <h2 class="title mt-0 mb-4">Deep copy</h2>
        </div>

        <mat-tab-group class="vex-tabs">
            <mat-tab label="HTML">
                <pre><code [vexHighlight]="autocompleteHTML"></code></pre>
            </mat-tab>
            <mat-tab label="TYPE SCRIPT">
                <pre><code [vexHighlight]="autocompleteJS"></code></pre>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>