<div class="card" fxLayout="column" fxLayout.gt-sm="row">
    <div class="p-6" fxFlex="none">
        <h2 class="title mt-0 mb-4" (click)="copyToClipboard('test-copied')" title="click to copy ">Click to copy</h2>
    </div>

    <div class="border-l" fxFlex="auto">
        <div class="p-6">
            <h2 class="title mt-0 mb-4">Click To Copy</h2>
        </div>

        <mat-tab-group class="vex-tabs">
            <mat-tab label="DESCRIPTION">
                <div class="p-6">
                    <p class="m-0">
                        Input text can be used with autocomplete to help users who have limited literacy or who write in a foreign language.
                        <br>
                        <br><span class="font-medium">For example, autocomplete can:</span>
                    </p>
                    <ul>
                        <li>Suggest input as it’s typed (refreshing suggestions with each keystroke)</li>
                        <li>Fill a field with default input text</li>
                        <li>Pressing the return button accepts the current autocomplete suggestion.</li>
                    </ul>
                </div>
            </mat-tab>
            <mat-tab label="SOURCE CODE">
                <pre><code [vexHighlight]="autocompleteHTML"></code></pre>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>